<div id="notificationsContainer">
	<div id="notificationsBody" class="notifications">
		<% @notifications_count.each do |notification| %>

		<p>
			<%= link_to_issue notification.issue %> : Retard de <%= distance_of_time_in_words( (notification.end_time || Time.now)  - notification.begin_time ) %>
		</p>
		<% end %>
	</div>
	<div id="notificationsFooter">
		<%= link_to l(:label_alerts), alerts_path %>
	</div>
</div>

<% content_for :header_tags do %>
	<%= javascript_include_tag "notifications", :plugin => "redmine_alert_issue" %>
	<%= stylesheet_link_tag "notifications", :plugin => "redmine_alert_issue" %>
<% end %>